#include "config.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION PACKAGE_MAJOR_VERSION,PACKAGE_MINOR_VERSION,PACKAGE_POINT_VERSION,0
PRODUCTVERSION PACKAGE_MAJOR_VERSION,PACKAGE_MINOR_VERSION,PACKAGE_POINT_VERSION,0
FILEFLAGS VS_FFI_FILEFLAGSMASK
FILEOS   VOS_NT
FILETYPE VFT_APP
FILESUBTYPE 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "PicoQuant GmbH"
            VALUE "FileDescription",  "Program for analyzing photoswitching microscopy data"
            VALUE "FileVersion",      PACKAGE_VERSION
            VALUE "InternalName",     "dstorm"
            /*VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR*/
            /*VALUE "LegalTrademarks1", VER_LEGALTRADEMARKS1_STR*/
            /*VALUE "LegalTrademarks2", VER_LEGALTRADEMARKS2_STR*/
            VALUE "OriginalFilename", "dstorm.exe"
            VALUE "ProductName",      PACKAGE_NAME
            VALUE "ProductVersion",   PACKAGE_VERSION
        END
    END
END
