Source: rapidstorm
Section: science
Priority: optional
Maintainer: Steve Wolter <swolter@sdf.lonestar.org>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, librapidstorm13-dev, libeigen2-dev, libboost-dev, libcsunits2-dev, libgraphicsmagick1-dev, libgraphicsmagick++1-dev, libb64-dev, libtiff4-dev, libwxgtk2.8-dev | libwxmsw2.8-dev, libanyiterator-dev, twiddler, libboost-system-dev, libboost-thread-dev, pkg-config, libgsl0-dev, librapidstormfile-dev, dh-crossinstall
Standards-Version: 3.8.4
#Vcs-Git: git://git.debian.org/collab-maint/rapidstorm.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/rapidstorm.git;a=summary

Package: rapidstorm13-bin
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: rapidstorm-bin
Recommends: gsfonts
Description: Localization microscopy data evaluation tool

Package: rapidstorm13-plugin-locprec
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: rapidstorm13
Description: Experimental analysis tools for rapidSTORM

Package: rapidstorm13-plugin-camera
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: rapidSTORM plugin for direct camera control/acquisition

Package: rapidstorm13-plugin-testhelpers
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Plugins for rapidSTORM that ease testing
