#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

INCLUSION=$(if $(filter $(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE)),,/$(DEB_HOST_GNU_TYPE))
CPPFLAGS+=-I/usr$(INCLUSION)/include/GraphicsMagick -I/usr$(INCLUSION)/include/eigen2 -DNDEBUG

override_dh_install :
	for package in `sed -n -e 's/Package: //p' debian/control`; do \
	   if test -e debian/$$package.install.$(DEB_HOST_ARCH); then \
	        ln debian/$$package.install.$(DEB_HOST_ARCH) debian/$$package.install; \
	    elif test -e debian/$$package.install.other-archs; then \
	          ln debian/$$package.install.other-archs debian/$$package.install; \
	    fi; \
	done
	/usr/bin/dh_install

override_dh_clean :
	for package in `sed -n -e 's/Package: //p' debian/control`; do  \
	    test -e debian/$$package.install.$(DEB_HOST_ARCH) \
	            -o -e debian/$$package.install.other-archs \
	        && rm -f debian/$$package.install; \
	done || true
	/usr/bin/dh_clean

%:
	dh $@ 

override_dh_auto_configure:
	dh_auto_configure -- --disable-test-build 
